.heroContainer{
    height: 100%;
    display: flex;
    // justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    @media (max-width: 500px){
        height: 95vh;
    }
}


.heroText{
    position: absolute;
    width: 80vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 650px){
        top: 10%;
        margin-top: -6rem;
    }
    @media (max-width: 900px){
        top: 30%;
    }
    @media(width: 1024px){
        top: 25%;
    }
    
}
.heroText p {
    font-size: 40px;
    
    @media (max-width: 500px){
        font-size: 1px;
    }
    @media (max-width: 750px){
        font-size: 20px;
    }
    @media (max-width: 900px){
        font-size: 35px;
    }
}



.bannerImgContainer{
    position: relative;
    background: url(../../assets/images/bannerImage.png) no-repeat center;
    background-size: contain;
    background-position-y: top;
    background-repeat: none;
    overflow: hidden;
    height: 90vh;
    margin: 5px;
}

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  }
  
  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }