@import '../../../constants/Variables.scss';

.Toolbar {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 90;
    @media (max-width: 500px){
        height: 150px;
        display: block;
        text-align: center;
    }
}

.Logo, .socialIcons {
    height: 80%;
    color: red;
    @media(max-width: 500px){
        height: 40%;
    }
}
.Toolbar nav {
    height: 100%;
}


// @media (max-width: 499px){
//     .DesktopOnly{
//         display: none;
//     }
// }
