@import "../../../constants/Variables.scss";

.nav-bar {
    height: 50px;
    width: 100%;
    background-color: black;
    position: sticky;
    top: -1px;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 90;
    @media only screen and (min-width: $breakpoint-md) {
        height: 50px;
    }
}
.nav-main {
    margin: auto;
}

.nav-mobile-main {
    background-color: black;
    position: sticky;
    top: 48px;
    z-index: 90;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    @media only screen and (min-width: $breakpoint-md) {
        display: none;
    }
}

.nav-toggler {
    width: 48px;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px 10px 0;
    cursor: pointer;
    margin: auto 0;
    div {
        width: 90%;
        height: 1px;
        background-color: #fff;
    }

    @media only screen and (min-width: $breakpoint-md) {
        display: none;
    }
}
