.Toolbar {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    // align-items: center;
    // box-sizing: border-box;
    // z-index: 90;
}

.Logo {
    height: 80%;
}
.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}
