@import "../../../constants/Variables.scss";

.appBar {
    background-color: white;
    color: black;
}

.appBar:focus {
    outline: none;
}

.tabs {
    width: 90vw;
    min-height: 60vh;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-bottom: 2rem;
    @media (min-width: $breakpoint-md) {
        width: 70vw;
        min-height: 60vh;
    }
    @media (min-width: $breakpoint-lg) {
        min-height: 70vh;
    }
    @media (min-width: $breakpoint-xl) {
        min-height: 80vh;
    }
}

.tabTitle span {
    font-size: 1.3rem;
}

//override Material UI tab wrapper font
.MuiTab-wrapper {
    font-family: $ubuntuFont;
}
