@import "../../constants//Variables.scss";

.resume-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;

    @media only screen and (min-width: $breakpoint-md) {
        grid-template-columns: 1fr 2fr;
        column-gap: 1rem;
    }

    .resume-heading {
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
    }

    .resume-body {
        color: $grayColor;
        font-weight: 600;
        
    }
    .resume-button {
        border: none;
        background-color: transparent;
        color: $linkColor;
        padding: 1rem 0 0 0;
    }
}

.buttonStyle {
    color: black;
    font-weight: bold !important;
}
.modalContent {
    position: relative;
    max-width: 70vw;
    max-height: 80vh;
    font-family: $ubuntuFont;
    @media (max-width: 600px) {
        max-width: 90vw;
        margin: 0 auto;
    }
}

.modalTitle {
    text-align: center;
    width: 100%;
}

.iframe {
    height: 100vh;
    width: 100%;
}
