@import "../../../../constants/Variables.scss";

.NavigationItem {

    height: 100px;
    display: inline-flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem.active{
    color: red;
   
}
// @media (min-width: 500px){
//     .NavigationItem {
//         margin: 0;
//         display: flex;
//         height: 100%;
//         width: auto;
//         align-items: center;
//     }
    
//     .NavigationItem a {
//         color: white;
//         text-decoration: none;
//         height: 100%;
//         padding: 16px 10px;
//         border-bottom: 4px solid transparent;
//     }
    
//     .NavigationItem a:hover,
//     .NavigationItem a:active,
//     .NavigationItem a.active{
//         background-color: #8F5C2C;
//         border-bottom: 4px solid #40A4C8;
//         color: white;
//     }
// }