@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
.contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 15px;
  padding-top: 2rem;
}

@media only screen and (min-width: 786px) {
  .contact-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

.contact-container .contact-info .contact-field {
  position: relative;
}

.contact-container .contact-info .contact-field .contact-input {
  border: 1px solid #d2d2d7;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 1rem;
  padding-top: 1.2rem;
  margin-bottom: 15px;
}

.contact-container .contact-info .contact-field:last-child .contact-input {
  margin-bottom: 0;
}

.contact-container .contact-info .contact-field .contact-label {
  position: absolute;
  left: 0;
  top: 0.9rem;
  padding: 0 0.5rem;
  cursor: text;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.contact-container .contact-info .contact-field .contact-input:focus ~ .contact-label,
.contact-container .contact-info .contact-field .contact-input:not(:placeholder-shown).contact-input:not(:focus) ~ .contact-label {
  top: 0.2rem;
  font-size: 0.8rem;
  left: 0.5rem;
}

.contact-container .contact-message {
  position: relative;
  border: 1px solid #d2d2d7;
  border-radius: 10px;
  background: white;
}

.contact-container .contact-message:focus-within {
  outline: #015fcc auto 1px;
}

.contact-container .contact-message textarea.contact-message-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 99%;
  height: 150px;
  border-radius: 10px;
  border: transparent;
  position: relative;
  padding-left: 1rem;
  padding-top: -0.5rem;
  margin-top: 20px;
  margin-left: 1px;
  resize: none;
}

.contact-container .contact-message textarea.contact-message-input:focus {
  outline: none;
}

.contact-container .contact-message textarea::-webkit-scrollbar {
  width: 3px;
}

.contact-container .contact-message textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.contact-container .contact-message .contact-label {
  position: absolute;
  left: 0;
  top: 0.9rem;
  padding: 0 0.5rem;
  cursor: text;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.contact-container .contact-message .contact-message-input:focus ~ .contact-label,
.contact-container .contact-message .contact-message-input:not(:placeholder-shown).contact-message-input:not(:focus) ~ .contact-label {
  top: 0.2rem;
  font-size: 0.8rem;
  left: 0.5rem;
}

.contact-container .contact-button-container {
  text-align: center;
}

.contact-container .contact-button-container .contact-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  text-align: center;
  border-radius: 25px;
  width: 100%;
}

.messageHide {
  display: none !important;
}
/*# sourceMappingURL=Contact.css.map */