@import "../../constants/Variables.scss";

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    padding-top: 2rem;

    @media only screen and (min-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }

    .contact-info {
        .contact-field {
            position: relative;
            .contact-input {
                border: 1px solid #d2d2d7;
                border-radius: 10px;
                width: 100%;
                height: 50px;
                position: relative;
                top: 0;
                left: 0;
                padding-left: 0.9rem;
                padding-top: 1.2rem;
                margin-bottom: 15px;
            }
            &:last-child {
                .contact-input {
                    margin-bottom: 0;
                }
            }
            .contact-label {
                position: absolute;
                left: 0;
                top: 0.9rem;
                padding: 0 0.5rem;
                font-size: 14px;
                cursor: text;
                transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
            }
            .contact-input:focus ~ .contact-label,
            .contact-input:not(:placeholder-shown).contact-input:not(:focus) ~ .contact-label {
                top: 0.2rem;
                font-size: 0.8rem;
                left: 0.5rem;
            }
        }
    }
    .contact-message {
        position: relative;
        border: 1px solid #d2d2d7;
        border-radius: 10px;
        background: white;
        &:focus-within {
            outline: #015fcc auto 1px;
        }
        textarea.contact-message-input {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 99%;
            height: 150px;
            border-radius: 10px;
            border: transparent;
            position: relative;
            padding-left: 0.9rem;
            padding-top: -0.5rem;
            margin-top: 20px;
            margin-left: 1px;

            resize: none;
            &:focus {
                outline: none;
            }
        }
        textarea::-webkit-scrollbar {
            width: 3px;
        }

        textarea::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
        .contact-label {
            position: absolute;
            left: 0;
            top: 0.9rem;
            padding: 0 0.5rem;
            font-size: 14px;
            cursor: text;
            transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
        }
        .contact-message-input:focus ~ .contact-label,
        .contact-message-input:not(:placeholder-shown).contact-message-input:not(:focus) ~ .contact-label {
            top: 0.2rem;
            font-size: 0.8rem;
            left: 0.5rem;
        }
    }
    .contact-button-container {
        text-align: center;
        .contact-button {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            text-align: center;
            border-radius: 25px;
            width: 100%;
        }
    }
}

.messageHide {
    display: none !important;
}
