@import "../../constants/Variables.scss";
.heroContainer {
    height: 90vh;
    display: flex;
    // justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    font-family: $ubuntuFont;
    z-index: -100;
    margin-bottom: -1rem;
    @media (max-width: 500px) {
        height: 33vh !important;
        margin-bottom: -0.5rem;
    }
    @media (min-width: 501px) and (max-width: 900px) {
        height: 43vh;
        margin-bottom: -0.5rem;
    }
    @media (min-width: 901px) and (max-width: 1180px) {
        height: 78vh;
    }
    @media (width: 1024px) {
        height: 60vh;
    }
    @media (max-height: 400px) and (max-width: 900px) {
        height: 60vh;
    }
}

.heroText {
    position: absolute;
    width: 80vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 650px) {
        top: 40%;
        // margin-top: -6rem;
    }
    @media (min-width: 650px) and (max-width: 900px) {
        top: 40%;
    }
    @media (min-width: 901px) and (max-width: 1024px) {
        top: 40%;
    }
}
