@import "../../../../../constants/Variables.scss";

.buttonColor {
    color: black;
}

.card-size {
    @media (min-width: $breakpoint-xl) {
        max-width: 25%;
    }
    @media (min-width: $breakpoint-md) {
        max-width: 50%;
    }
}

.card-subtitle {
    text-transform: capitalize;
    color: #a9a9a9;
}

.imgType {
    width: 3rem;
}
