@import "../../../constants/Variables.scss";

.nav-items {
    display: none;
    @media only screen and (min-width: $breakpoint-md) {
        display: block;
        padding-left: 0;
        margin-bottom: 0;
    }
}

.nav-mobile-items {
    list-style: none;
    padding: 0 2rem 0.5rem 2rem;
    margin-bottom: 0;
}
