@import "./constants/Variables.scss";
@import "~bootstrap/scss/bootstrap";

// Portfolio container, replaces bootstrap
body {
    font-family: $ralewayFont !important;
    overflow-x: hidden;
}

.portfolio-container {
    max-width: 87.5%;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: $breakpoint-md) {
        max-width: 692px;
    }

    @media only screen and (min-width: $breakpoint-lg) {
        max-width: 980px;
    }
    @media only screen and (min-width: $breakpoint-xxl) {
        max-width: 1440px;
    }
}

.primary-background {
    padding: 5rem 0 5rem 0;
}
.alt-background {
    background-color: #f5f5f7;
    padding: 5rem 0 5rem 0;
}

/* appear - on page load */
.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 2000ms linear;
}

/* enter */
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}
.fade-exit-done {
    opacity: 0;
}

/* slide enter */
.slide-enter {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
    z-index: 1;
}
.slide-enter.slide-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit */
.slide-exit {
    opacity: 1;
    transform: scale(1) translateY(0);
}
.slide-exit.slide-exit-active {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
    transition: opacity 1500ms linear, transform 1500ms ease-out;
}
.slide-exit-done {
    opacity: 0;
}
