@import "./constants/Variables.scss";
@import "~bootstrap/scss/bootstrap";

// Portfolio container, replaces bootstrap
body {
    font-family: $ralewayFont !important;
    overflow-x: hidden;
}

.portfolio-container {
    max-width: 87.5%;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: $breakpoint-md){
        max-width: 692px;
    }

    @media only screen and (min-width: $breakpoint-lg){
        max-width: 980px;
    }
}

.alt-background {
    background-color: #f5f5f7;
    padding: 5rem 0 5rem 0;
}