@import '../../../constants/Variables.scss';
@import '../SectionHeader.scss';

.bannerImage{
    opacity: 0.9;
    background-repeat: none;
    background-size: cover;
    background-position: top;
}

.sectionTitleText, 
.sectionContentText,
.sectionSubContentText{
    color: white;
    text-shadow: 2px 2px 3px black;
}